{% extends 'index.html' %}

{% load static %}
{% block title %}
    Box Map
{% endblock %}

{% block content %}
    <div class="page-content">
        <section id="featured" class="content-section">
            <div class="section-heading">
                <h1><em>The BoxMap</em></h1>
            </div>
            <div class="section-content">
                <div class="item">
                    <div class="image">
                        <div class="image-cover">
                            <img src="{% static 'img/b3.jpg' %}" alt="">
                            <img src="{% static 'img/b2 copy.jpg' %}" alt="">
                            <img src="{% static 'img/b4.jpg' %}" alt="">
                            <img src="{% static 'img/b4 copy.jpg' %}" alt="">
                        </div>
                        <div class="image-cover">
                            <img src="{% static 'img/b5.jpg' %}" alt="">
                            <img src="{% static 'img/b9.jpg' %}" alt="">
                            <img src="{% static 'img/b10.jpg' %}" alt="">
                            <img src="{% static 'img/boxhead2.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="text-content">
                        <h4>Phase 1</h4>
                        <ul>
                            <li><span>Preparing NFTs</span></li>
                            <li><span>Team development</span></li>
                            <li><span>Launching on social media</span></li>
                            <li><span>Community roles assignment</span></li>
                            <li><span>Secure collaboration and partnerships</span></li>
                        </ul>
                    </div>

                    <div class="text-content">
                        <h4>Phase 2</h4>
                        <ul>
                            <li><span>Launch NFT</span></li>
                            <li><span>Mint out</span></li>
                            <li><span>Listing on secondary, MagicEden etc</span></li>
                            <li><span>Expand Team and community (Hire Alpha Hunters, WL Hunters etc)</span></li>
                            <li><span>Create a raffling system to keep community patient for phase 3</span></li>
                        </ul>
                    </div>

                    <div class="text-content">
                        <h4>Phase 3</h4>
                        <ul>
                            <li><span>Launch stake-to-earn, engage-to-earn $BOX token</span></li>
                            <li><span>Integrate raffling(Weekly NFTs, WL spots) system using $Box</span></li>
                            <li><span>Form partnerships and Begin phase 4</span></li>
                        </ul>
                    </div>

                    <div class="text-content">
                        <h4>Phase 4</h4>
                        <ul>
                            <li>
                                <span>Receive Key NFts airdrop, claimable with X amount of $Box to help increase
                                amount of $Box earned daily.</span></li>
                            <li><span>Guess and open boxes with $Box, creating fun-tilities like that of Vandal
                                City.</span></li>
                            <li><span>Expanding $Box usecase to IRL, merch, events etc.</span></li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>
    </div>
{% endblock %}