{% extends 'index.html' %}

{% load static %}
{% block title %}
    Short Term
{% endblock %}

{% block content %}
    <div class="page-content">
        <section id="featured" class="content-section">
            <div class="section-heading">
                <h1><em>{{ shorts.title }}</em></h1>
            </div>
            <div class="section-content">
                <div class="item">
                    <div class="image image-fix">
                        <img src="{% static 'img/b7.jpg' %}" alt="">
                        <img src="{% static 'img/b9.jpg' %}" alt="">
                    </div>
                    <div class="text-content">
                        <h4></h4>
                        <span>{{ shorts.description }}</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}